.my-list{
    background: var(--dark-background);
    padding-bottom: 15px;
    min-height: 100vh;
}



.list-cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(290px, 1fr));
    row-gap: 22px;
}
.card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: linear-gradient(to right, #ee9ca733, #ffdde133);
    width: 85%;
    max-width: 300px;
    margin: auto;
    padding: 0 15px;
    transition: .1s ease-in;
    cursor: pointer;    
}
/************************************** EFFECTO HOVER(-- TODO EL CARD --) */
.card:hover{
    transform:translate(-2%,-2%);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.73);
}



.card article{
    text-align: center;    
    color: var(--color-render-title);
}
.card article *{
    margin: 10px 0;
    text-transform: capitalize;
}

.card img{
    width: 40px;    
}

/* *************************** MENSAJE AL HACER HOVER SOBRE EL BOTON DE FAV  ****** ****************************** */
.remove_message{
    position: absolute;
    top: 0;
    right: 10px;
}
.remove_message p{
    margin: 0;
    font-size: var(--font-size-small);     
}


/* ********************************************* LIHGHT - MODE */
.my-list.light-mode{
    background: var(--font-color-normal);
    color: var(--dark-background);
}
.my-list.light-mode .card{
    background: linear-gradient(to right, #000428db, #004e92bd); 
    background: linear-gradient(to right, #ee9ca7, #ffdde1);  
}
.my-list.light-mode .card article{
    color: var(--dark-background);
}
.my-list.light-mode .card:hover{    
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
}



/* ****************************************************BREAK 1200px */
@media screen and (min-width:1200px) {
    .list-cards{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
}
