.render_data_component-desktop{
    text-align: center;
    padding-top: 50px;
}
.render_data_component-desktop > img{
    width: 99%;
}

.data_desktop-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
}
.data_desktop-header > h2{
    font-size: var(--font-size-title);
    color: var(--color-render-title);
}
.data_desktop-header > img{
    width: 53px;    
    align-self: center;
    cursor: pointer;    
}

/********************************************** mensaje al hacer hover */
.hover-message{
    position: absolute;
    right: 85px;
    top: 35px;
    background: #fff2;
    padding: 2px;
}
.hover-message p{    
    margin: 0;
    font-size: var(--font-size-small);
}
/******************************************************** light-theme */
.search-result.light-mode .hover-message{
    background: #12042566;    
}

.data_desktop-content{
    margin-top: 40px;
}

/* ARTIST-HERO */
.artist-hero{
    display: flex;
}
.artist_img{    
    height:560px ;
}

.data_desktop-artist{    
    width: 70%;
}
.data_desktop-artist img{    
    position: relative;
    width: 50%;     
    transition: .5s; 
}
.data_desktop-artist img:first-child{
    left: 0px;
    top: 0px;
}
.data_desktop-artist img:nth-child(2){
    left: -80px;
    top: 220px;
}


.data_desktop-details{    
    margin-top: 50px;
    font-size: var(--font-size-normal);    
}
.data_desktop-details p span{
    color: var(--color-render-title);
}
.data_desktop-details .details-socials{
    width: 50%;
    margin: auto;    
}
.data_desktop-details .details-socials .socials-links{
    margin-top: 20px;    
}


.data_desktop-lyric{        
    text-align: center;
    padding-right: 30px;
    width: 30%;
}
.data_desktop-lyric article{
    width: 100%;
}
.data_desktop-lyric article > h2{
    color: var(--color-render-title);
    font-size: var(--font-size-title);
    text-transform: capitalize;
}


.data_desktop-biography h2{
    margin:80px 0 10px 0;
    font-size: var(--font-size-title);
    color: var(--color-render-title);
}
.data_desktop-biography p{
    font-size: var(--font-size-normal);
    width: 97%;
    margin: auto;
}


/***************************************** ESTILOS DE LAS IMAGENES CON EL THEME LIGHT */
.search-result.light-mode .data_desktop-artist img:hover{
    transform: scale(1.1);
    box-shadow: 11px -12px 20px 4px rgba(0,0,0,0.71);
}
