.search-result{
   background: var(--dark-background);  
   padding-bottom: 15px; 
}
/*********************************************** ESTILOS DEL LIGHT-MODE */
.search-result.light-mode{
   background: var(--font-color-normal);
   color: var(--dark-background);
}
.search-result.light-mode .socials-links button{
   color: var(--color-pink);
}
/*********************************************** ESTILOS DEL LOADER-SECTION */
.loader-section{
   height: calc(100vh - 87px);
   text-align: center;
   padding-top: 150px;
}
.loader-section img{
   width: 100px;   
}

/* ****************************************BOTON DEL SCROLL TOP */
.scroll-button{
   position: fixed;
   bottom: 25px;
   right: 25px;
}
