:root {
  --color-green-blue: #23be87;
  --color-orange: #f80;
  --color-blue: #0af;
  --font-color-normal: #fff;
  --font-size-title:1.8rem;    
  --font-size-subtitle: 1.5rem;
  --font-size-normal: 1.2rem;
  --font-size-small: 0.9rem;
}
